.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 0;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper {
  margin-top: 1rem;
}

.portfolio-slider {
  width: 100%;
  margin: 0;
}

.portfolio-slider> .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  filter: drop-shadow(12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 0.5rem;
}

.live {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(163, 162, 162, 0.765);
  color: white;
  text-decoration: none;
  display: none;
  position: absolute;
  top: 47%;
  left: 47%;
  width: fit-content;
  height: fit-content;
}

.portfolio img:hover + .live {
  display: block;
}
@media screen and (max-width: 768px) {
  .portfolio {
    margin-top: 3rem;
    height: 50vh;
    margin-bottom: 0rem;
  }
  .live {
    padding: 1rem;
    top: 32%;
    left: 37%;
  }
}
