.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    gap: 2rem;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 1rem;
}
.i-button{
    width: 7rem;
    height: 2rem;
}
.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0.5rem;
}
.i-icons>a>img{
    transform: scale(0.5);
    cursor: pointer;
}

.i-right{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex: 1;
    position: relative;

}

.i-right>*{
    position: absolute;
    z-index: 1;

}


.i-right>:nth-child(1)>img{/* boy */
    transform: scale(0.55);
    position: static;
    margin-top: -18rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
}
.i-right>:nth-child(2){/* emoji */
    transform: scale(0.62);
    left: -24%;
    top: -19%;
    border-radius: 50%;
    padding: 0;
}
.i-right>:nth-child(3){/* frontend */
    left: 65%;
    top: -8%;
}
.i-right>:nth-child(4){/* Outstanding */
    left: 2%;
    top: 63%;
}



@media screen and (max-width: 768px) {
    .intro {
      flex-direction: column;
      gap: 0rem;
      height: auto;
      margin-top: 1rem;
    }
    .i-left{
        text-align: center;
        gap: 1rem;   
        order: 2;
        height: 100vh;
        margin-top: -2.5rem;
    }
    .i-name>:nth-child(3){
        text-align: justify;
    }

    .i-button{
        align-self: center;
    }
    .i-icons{
        align-self: center;
        margin-top: 0rem;
    }
    .i-right{
        height: auto;

    }
    .i-right>:nth-child(1){/* boy */
        height: 40vh;
        transform: scale(0.5);
        position: static;
        margin-top: -1rem;
        margin-bottom: 6rem;
        box-sizing: border-box;
        flex-wrap: 0;
    }
    .i-right>:nth-child(2){/* emoji */
        transform: scale(0.4);
        left: -5rem;
        top: -4rem;
    }
    .i-right>:nth-child(3){/* frontend */
        transform: scale(0.6);
        left: 7.5rem;
        top: -2%;
    }
    .i-right>:nth-child(4){/* Outstanding */
        transform: scale(0.6);
        left: -2rem;
        top: 11.5rem;
    }
    .i-right .blur {
      display: none;
    }

  }