.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    gap: 2rem;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 1rem;
}
.i-button{
    width: 7rem;
    height: 2rem;
}
.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0.5rem;
}
.i-icons>a>img{
    transform: scale(0.5);
    cursor: pointer;
}

.i-right{
    flex: 1;
    position: relative;

}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.52);
    left: -35%;
    top: -68%;
}
.i-right>:nth-child(2){
    transform: scale(0.62);
    left: -24%;
    top: -19%;
    border-radius: 50%;
    padding: 0;
}
.i-right>:nth-child(3){
    left: 55%;
    top: -8%;
}
.i-right>:nth-child(4){
    left: 2%;
    top: 63%;
}



@media screen and (max-width: 768px) {
    .intro {
      flex-direction: column;
      gap: 0rem;
      height: 115vh;
      margin-top: 1rem;
    }
    .i-left{
        border: 1px solid red;
        text-align: center;
        flex: 1;
        gap: 2rem;
        order: 2;
    }
    .i-name>:nth-child(3){
        text-align: justify;
    }

    .i-button{
        align-self: center;
    }
    .i-icons{
        align-self: center;
        margin-top: 0rem;
    }

    .i-right>:nth-child(1){
        transform: scale(0.38);
        left: -90%;
        top: -65%;
    }

    .i-right>:nth-child(3){
        transform: scale(0.8);
        left: 55%;
        top: -2%;
    }
    .i-right>:nth-child(4){
        transform: scale(0.8);
        left: -10%;
        top: 63%;
    }
    .i-right .blur {
      display: none;
    }

  }