.floatingdiv{
    display: flex;
    background: white;
    justify-content: center;
    gap: 1rem;
    box-shadow: var(--boxShadow);
    border-radius: 1rem;
    align-items:center;
    padding: 1rem;
    color: var(--text);
}

.floatingdiv img{
    width: 2rem;
    margin: 0;
}

.floatingdiv span{
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .floatingdiv{
        height: 3rem;
        padding: 0.8rem;
        color: var(--text);
    }
    
    .floatingdiv img{
        width: 1.5rem;
    }
    
    .floatingdiv span{
        font-family: sans-serif;
        font-size: 0.8rem;
    }
    
}